/*
 min-width: 35.5em >= 568px
 min-width: 48em >=768px
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:matches(:before, :after) {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
